<p>{{ message }}</p>
<div class="row">
    <div class="col-md-6">
        <div class="pull-right vectorPush">
            <img src="/img/lorieVec.png">
        </div>
    </div>
    <div class="col-md-6 captionName">
        <div class="pull-left">
            <h1 style="font-size: 125px;" class="captionHeader">Baz</h1>
        </div>
        <div class="slogan">
            <h1 class="captionBody">Developer</h1>
        </div>
        <div class="subSlogan">
            <p>SPECIALIZE IN</p>
        </div>
        <div class="title">
            <p>WEB DEVELOPMENT</p>
        </div>
    </div>
</div>